<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add name="dbconnection" connectionString="Data Source=KARACA_HOME\\SQL2016DEV;Initial Catalog=JOB_PORTAL_DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
</configuration>